.card-title {
    text-shadow: #FC0 1px 0 10px;
}

.modal-dialog {
    max-width: 300px !important;
}

.card-img-top:hover {
    opacity: 0.8;
}

@media (max-width: 576px) {
    .modal-dialog {
        left: 50%;
        transform: translateX(-50%) !important;
    }
}
